/*  --------------------------------------------------------------------------  *\

    ROWS

    This sets up our rows used to break up content into columns.

\*  --------------------------------------------------------------------------  */
.row {
    @include flex(space-between, stretch, null, row wrap);
    width: calc(100%);
    margin: 0 remCalc(0);
    
    @media #{$mediaMd} {
        width: calc(100%);
        margin: 0 remCalc(0);
    }
    /*  ----------------------------------------------------------------------  *\
    
        BACK TO BACK ROWS
    
        Set the margin when rows are next to each other.
    
    \*  ----------------------------------------------------------------------  */
    + .row {
        margin-top: remCalc(30);
        
        @media #{$mediaMd} {
            margin-top: remCalc(90);
        }
    }
    /*  ----------------------------------------------------------------------  *\
    
        ALIGNMENTS
    
        Change the default alignment to different alignments.
    
    \*  ----------------------------------------------------------------------  */
    &.va-center {
        align-items: center;
    }
    
    &.va-top {
        align-items: flex-start;
    }
    
    &.va-bottom {
        align-items: flex-end;
    }
    
    &.ha-center {
        justify-content: center;
    }
    
    &.ha-left {
        justify-content: flex-start;
    }
    
    &.ha-right {
        justify-content: flex-end;
    }
    /*  ----------------------------------------------------------------------  *\
    
        MARGINS
    
        Change the default margins.
    
    \*  ----------------------------------------------------------------------  */
    &.m-b {
        margin-bottom: #{$gutterSm};
        
        @media #{$mediaMd} {
            margin-bottom: #{$gutter};
        }
    }

    &.m-t-xtra {
        margin-top: remCalc(50);

        @media #{$mediaMd} {
            margin-top: remCalc(75);
        }

        @media #{$mediaLg} {
            margin-top: remCalc(100);
        }
    }
}
