/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL ABOVE > VARIABLES

\*  --------------------------------------------------------------------------  */
$formLAGutter: remCalc(10) remCalc(16);
$formLABorder: border;
$formLABorderStyle: 1px solid $accent-2;
$formLABorderFocus: $primary;
