<h2>
    {{lang 'products.lists.byExclusives.heading' }}
</h2>
<div id="categoryExclusives"
     class="feed-carousel-featured"
     data-slick='{
        "accessibility": false,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 4,
        "slidesToScroll": 1,
        "arrows": false,
        "dots": false,
        "draggable": false,
        "swipe": false,
        "responsive": [
            {
                "breakpoint": 767,
                "settings": {
                    "infinite": true,
                    "slidesToShow": 4,
                    "arrows": false,
                    "swipe": false,
                    "draggable": false             
                }
            },
            {
                "breakpoint": 992,
                "settings": {
                    "infinite": true,
                    "slidesToShow": 4,
                    "arrows": false,
                    "swipe": false,
                    "draggable": false             
                }
            }
        ]
    }'
    data-list-name="Related Products"
    data-category-carousel="/exclusives/">
</div>
