<h2 class="invert">
    {{lang 'products.lists.exclusive.heading' }}
    <a href="/exclusives/" class="shop-all-desktop button button--small card-figcaption-button btn-secondary">{{lang 'products.lists.exclusive.button' }}</a>
</h2>
<div class="feed-carousel-featured"
    data-list-name="{{lang 'products.lists.exclusive.heading' }}"
    data-category-carousel="/exclusives/"
    data-limit="3"
    data-format="static"
    id="carousel-exclusives">
</div>
<a href="/exclusives/" class="shop-all-mobile button button--small card-figcaption-button btn-secondary">{{lang 'products.lists.exclusive.button' }}</a>


