<h2>
    {{lang 'products.lists.featured.heading' }}
    <a href="/featured/" class="shop-all-desktop button button--small card-figcaption-button btn-secondary">{{lang 'products.lists.featured.button' }}</a>
</h2>
<div class="feed-carousel-featured"
    data-list-name="{{lang 'products.lists.featured.heading' }}"
    data-category-carousel="/featured/"
    data-limit="8"
    data-format="dynamic"
    id="carousel-featured">
</div>
<a href="/featured/" class="shop-all-mobile button button--small card-figcaption-button btn-secondary">{{lang 'products.lists.featured.button' }}</a>
