<h2>
    {{lang 'products.lists.recommended.heading' }}
    <a href="/staff-picks/" class="shop-all-desktop button button--small card-figcaption-button btn-secondary" >{{lang 'products.lists.recommended.button' }}</a>
</h2>
<div class="feed-carousel-featured"
    data-list-name="{{lang 'products.lists.recommended.heading' }}"
    data-category-carousel="/staff-picks/"
    data-limit="8"
    data-format="dynamic"
    id="carousel-staff-picks">
</div>
<a href="/staff-picks/" class="shop-all-mobile button button--small card-figcaption-button btn-secondary" >{{lang 'products.lists.recommended.button' }}</a>
