<h2>
    {{lang 'products.lists.top.heading' }}
    <a href="/best-sellers/" class="shop-all-desktop button button--small card-figcaption-button btn-secondary">{{lang 'products.lists.top.button' }}</a>
</h2>
<div class="feed-carousel-featured"
    data-list-name="{{lang 'products.lists.top.heading' }}"
    data-category-carousel="/best-sellers/"
    data-limit="8"
    data-format="dynamic"
    id="carousel-best-sellers">
</div>
<a href="/best-sellers/" class="shop-all-mobile button button--small card-figcaption-button btn-secondary">{{lang 'products.lists.top.button' }}</a>
