<article aria-posinset="{{i}}" tabindex="0" aria-labelledby="post-name-{{i}}" aria-describedby="post-desc-{{i}}">
    {{#if post.thumbnail}}
        <a href="{{post.url}}">
            {{> components/global/responsive-img
                image=this.thumbnail
                fallback_size=theme_settings.blog_size
                lazyload=theme_settings.lazyload_mode
            }}
        </a>
    {{/if}}
    <div class="cnt">
        <p class="tags">{{#each (limit post.tags 1)}}<a href="{{url}}" class="tag {{lowercase (hyphenate name)}}">{{name}}</a>{{/each}}</p>
        <h3 id="post-name-{{i}}">
            <a href="{{post.url}}">{{post.title}}</a>
        </h3>
        <p class="byline">{{#if post.author}}{{lang 'blog.posted_by' name=this.author}} <span>|</span> {{/if}}{{post.date_published}}</p>
        <p class="summary" id="post-desc-{{i}}">{{{this.summary}}}&hellip; <a href="{{post.url}}" aria-label="{{post.title}}">{{lang 'blog.read_more'}}<svg><use xlink:href="#icon-chevron-right"></use></svg></a></p>
    </div>
</article>
