{{#partial "page"}}

<header class="hero">
    <div class="container">
        {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1 class="ta-left">
            {{lang 'gift_certificate.heading' }}
        </h1>
    </div>
</header>
<section>
    <div class="container">
        <div class="row ha-left">
            <div class="col-xs-12 col-md-4 col-lg-3">
                {{> components/gift-certificate/navigation gift_page='balance'}}
            </div>
            <div class="col-xs-12 col-md-8 col-lg-7">
                <h2>{{lang 'gift_certificate.balance.heading'}}</h2>
                <p>{{lang 'gift_certificate.balance.intro' }}</p>
                {{#if gift_certificate}}
                    {{#if gift_certificate.error}}
                        {{> components/global/alerts/error gift_certificate.error}}
                    {{else}}
                        <h3>{{gift_certificate.balance.formatted}}</h3>
                        <h4>{{gift_certificate.code}}</h4>
                    {{/if}}
                {{/if}}
                <form class="form form-gc-balance" id="gift-certificate-balance" method="get">
                    <input type="hidden" name="action" value="balance">
                    <div class="form-field">
                        <label for="giftcertificatecode">
                            {{lang 'forms.gift_certificate.balance.code' }}
                        </label>
                        <div>
                            <input id="giftcertificatecode" name="giftcertificatecode">
                            <button type="submit" class="btn-primary">
                                {{lang 'forms.gift_certificate.balance.submit_value' }}
                            </button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</section>
{{/partial}}
{{> layout/base}}
