<form data-contact-form class="form l-inside invert form-git" action="{{urls.contact_us_submit}}" method="post">
    {{inject 'contactEmail' (lang 'forms.validate.contact.email_address')}}
    {{inject 'contactQuestion' (lang 'forms.validate.contact.question')}}
    {{#if forms.contact.error}}
        {{> components/global/alerts/error forms.contact.error}}
    {{/if}}
    <div class="form-el">
        <input type="text" id="contact_fullname" name="contact_fullname" value="{{customer.name}}" required>
        <label for="contact_fullname">{{lang 'forms.get_in_touch.full_name'}}</label>
    </div>
    <div class="form-el">
        <input type="text" id="contact_email" name="contact_email" value="{{customer.email}}" required>
        <label for="contact_email">{{lang 'forms.get_in_touch.email'}}</label>
    </div>
    <div class="form-el multi-line">
        <textarea name="contact_question" id="contact_question" rows="4" cols="50" required></textarea>
        <label for="contact_question">{{lang 'forms.get_in_touch.question'}}</label>
    </div>
    <div class="form-btns invert">
        <button class="btn-secondary" type="submit">{{lang 'forms.get_in_touch.submit' }}</button>
    </div>
</form>
