/*  --------------------------------------------------------------------------  *\

    BANNERS - LAYOUT - WITH IMAGE TOP

\*  --------------------------------------------------------------------------  */
& {
    
    .img-w {
        display: block;
        
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
