
{{#if regex '===' '2'}}pattern="^[-_A-Za-z0-9'?.&%$#@!,:;&quot; ]*$"{{/if}}
{{#if regex '===' '3'}}pattern="^[A-Za-z0-9']*$"{{/if}}
{{#if regex '===' '4'}}pattern="^[-_A-Z0-9?!:;.&%$#@,&quot;' ]*$"{{/if}}
{{#if regex '===' '5'}}pattern="^[A-Z]*$"{{/if}}
{{#if regex '===' '6'}}pattern="^[-_A-Za-z0-9'?.&$!,:;&quot; ]*$"{{/if}}
{{#if regex '===' '7'}}pattern="^[0-9',.]*$&quot;{{/if}}
{{#if regex '===' '8'}}pattern="^[-_A-Z0-9'?.&$!,:;&quot;]*$"{{/if}}
{{#if regex '===' '9'}}pattern="^[A-Z0-9]*$"{{/if}}
{{#if regex '===' '10'}}pattern="^[A-Za-z0-9',. ]*$"{{/if}}
{{#if regex '===' '11'}}pattern="^[A-Z0-9' ]*$"{{/if}}
{{#if regex '===' '12'}}pattern="\"{{/if}}
{{#if regex '===' '13'}}pattern="^[A-Z0-9',. ]*$"{{/if}}
{{#if regex '===' '14'}}minlength="4" pattern="^[0-9]*$"{{/if}}
{{#if regex '===' '15'}}pattern="^.{6,18}*$"{{/if}}
