---
brands:
---

{{#partial "page"}}
<header class="hero">
    <div class="container">
        {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1>{{lang 'brand.label'}}</h1>
    </div>
</header>
<section class="brand-section">
    <div class="container">
        <ul class="brandGrid">
            {{#each brands}}
                <li class="brand">
                    <!-- <article class="card {{#if alternate}}card--alternate{{/if}}"> -->
                        <!-- <figure class="card-figure">
                            <a href="{{url}}">
                                <div class="card-img-container">
                                    {{> components/global/responsive-img
                                        image=image
                                        class="card-image"
                                        fallback_size=../theme_settings.brand_size
                                        lazyload=../theme_settings.lazyload_mode
                                        default_image=../theme_settings.default_image_brand
                                    }}
                                </div>
                            </a>
                        </figure> -->
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{url}}">{{name}}</a>
                            </h4>
                        </div>
                    <!-- </article> -->
                </li>
            {{/each}}
        </ul>
        {{> components/global/navs/paginator pagination.brands theme_settings=theme_settings}}
        {{{region name="brands_below_content"}}}
    </div>
</section>
{{/partial}}
{{> layout/base}}
