---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "category" category.name}}

{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<header class="hero">
    <div class="container">
        {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1>{{ category.name }}</h1>
    </div>
</header>

<section class="category-section">
    <div class="container" id="main-container">
            {{> components/global/navs/paginator pagination.category totalCount=category.total_products theme_settings=theme_settings}}
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                {{> components/category/sidebar}}
            </div>
            <div class="col-xs-12 col-lg-9">
                <div class="banner">
                    {{#if banners.bottom}}
                        {{#each banners.bottom_metadata }}
                            {{#contains this.banner-name "Promo"}}
                                <div class="banner-w">
                                    {{{this.content}}}
                                </div>
                            {{/contains}}
                        {{/each}}
                    {{/if}}
                </div>
                <div> 
                    {{#if category.products}}
                        {{> components/products/lists/category}}
                    {{else}}
                        <p>{{lang 'categories.no_products'}}</p>
                    {{/if}}
                </div>
                <div class="bottom-pag">
                {{> components/global/navs/paginator pagination.category totalCount=category.total_products theme_settings=theme_settings}}
                </div>
                {{{region name="category_below_content"}}}
            </div>
        </div>
    </div>
</section>

{{{region name="featured_blogs"}}}

{{#if banners.bottom}}
    {{#each banners.bottom_metadata }}
        {{#contains this.banner-name "Category Banner" }}
            <section class="bttm-section">
                <div class="container">
                    <div class="row ha-center">
                        <div class="col-xs-12 col-lg-10">
                            {{{this.content}}}
                        </div>
                    </div>
                </div>
            </section>
        {{/contains}}
    {{/each}}
{{/if}}
{{/partial}}
{{> layout/base}}
