{{#partial "head"}}
        
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    
        <script src="https://cdn9.bigcommerce.com/s-39rzs2k77u/templates/__custom/js/externals.js"></script>
        {{> components/global/local-scripts/bdu-redirects }}
        {{> components/global/local-scripts/bdu-brandRules }}
        {{> components/global/local-scripts/bdu-productDetails }}
        {{> components/global/local-scripts/bdu-checkout }}

    {{{ checkout.checkout_head }}}
    {{{ stylesheet '/assets/css/optimized-checkout.css' }}}
    {{ getFontsCollection }}
    <script type="text/javascript">
        window.language = {{{langJson 'optimized_checkout'}}};
    </script>
    {{{head.scripts}}}
{{/partial}}

{{#partial "page"}}
{{!-- This next section gets overwritten by the injection on Big Commerce--}}
    <a href="#content" class="skip-content">Skip to Content</a>
    <header class="checkoutHeader optimizedCheckout-header">
        <div class="checkoutHeader-content">
            <!-- <h2 class="checkoutHeader-heading"> -->
                <a href="{{urls.home}}" class="checkoutHeader-link">
                    <img src="{{cdn 'assets/img/logo-bdu-white.png'}}" class="checkoutHeader-logo" alt="Big Daddy Unlimited" />
                </a>
            <!-- </h2> -->
        </div>
    </header>
    <main id="content">
        {{{ checkout.checkout_content }}}
    </main>
    {{{ footer.scripts }}}
{{/partial}}

<script>
    let fixProductOptions = setInterval(function() {
        let options = document.querySelectorAll('.product-option');
        let reruns = 0;
        if(options.length > 0) {
            for(let item of options) {
                if(item.textContent.indexOf(' | ') !== -1) {
                    item.textContent = item.textContent.split(' | ')[1];
                }
            }
            console.log('test');
            clearInterval(fixProductOptions);
        } else {
            /*
            if(reruns < 10) {
                console.log('loading.....');
                reruns++;
            } else {
                clearInterval(fixProductOptions);
            }
            */
        }
    }, 500);

</script>

{{> layout/empty}}
