{{#partial "head"}}
{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/order-confirmation.css' }}}
<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{/partial}}
{{#partial "page"}}
{{inject 'checkoutId' checkout.order.id}}
<div class="container">
    <!-- <h3 class="layout amount-saved"></h3> -->
</div>

{{{ checkout.order_confirmation_content}}}
<!-- groove/structure/order-confirmation.js is handling the logic to switch these-->
<div class="container">
    <div class="non-member-purchase"><!-- <h2> You did not get a subscription. </h2>--></div>
    <div class="subscription-purchased"><!-- <h2>You got a subscription Video will go here. </h2>--></div>
</div>
{{/partial}}

{{> layout/base}}
