---
products:
    new:
        limit: 8
    featured:
        limit: 8
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---

{{#partial "page"}}

<header class="hero">
    <div class="container">
            {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
            {{#unless theme_settings.hide_page_heading }}
                <h1 class="page-heading">{{ page.title }}</h1>
            {{/unless}}
    </div>
</header>

<main class="page">
    <div class="container">
        
    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}

    {{{region name="page_builder_content"}}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            {{{page.content}}}
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
    
    </div>
</main>

{{/partial}}

{{> layout/base}}

