---
products:
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: 8
    similar_by_views:
        limit: 8
---
{{#partial "page"}}
{{inject "product" product}}
{{inject "settings" settings}}

<div itemscope itemtype="https://schema.org/Product" class="det-product">
    <header class="overview">
        <div class="container">
            {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
            {{> components/products/details/product-view }}
        </div>
    </header>
    {{> components/products/details/sticky-info}}
    {{!-- {{> components/products/details/jump-nav}} --}}
    <section class="bg-grey">
        <div class="container">
            {{> components/products/details/descriptions/description-tabs }}
        </div>
    </section>
    <section id="#CompleteYourOrder" class="default carousel-section">
        <div class="container related-products">
            {{> components/products/carousel-lists/related products=product.related_products currency_selector=currency_selector }}
        </div>
    </section>
</div>
{{> components/global/local-scripts/wishlist-removal-PDP }} 

{{!-- 

    {{#each product.shipping_messages}}
        {{> components/global/alerts/info message}}
    {{/each}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{> components/products/tabs}}
    </div>
--}}
{{/partial}}
{{> layout/base}}
