---
product_results:
    limit: {{theme_settings.searchpage_products_per_page}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.searchpage_products_per_page}}
{{inject 'query' forms.search.query }}

{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
<header class="hero">
    <div class="container">
        {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1>{{lang "search.results.heading"}}</h1>
    </div>
</header>

<section class="category-section">
    <div class="container">
        {{> components/global/navs/paginator pagination.search totalCount=result_count theme_settings=theme_settings}}
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {{> components/search/sidebar }}
            </div>
            <div class="col-xs-12 col-md-9">
                {{> components/search/product-listing}}
            </div>
        </div>
    </div>
</section>
{{{region name="search_below_content"}}}

{{/partial}}
{{> layout/base}}
