/*  --------------------------------------------------------------------------  *\

    LANDING NAVIGATIONS

\*  --------------------------------------------------------------------------  */
&.landing {    
    width: calc(100% + #{remCalc(16)});
    margin: 0 remCalc(-8);

    @media #{$mediaMd} {
        margin: 0 remCalc(-16);
        width: calc(100% + #{remCalc(32)});
    }
    
    ul {
        @include flex(flex-start, stretch, stretch, row wrap);
        width: 100%;

        ul {
            margin: 0 0 remCalc(20);
        }

        @media #{$mediaMd} {

            ul {
                margin: 0 0 remCalc(24);
            }
        }

        @media #{$mediaLg} {
            ul {
                margin: 0 0 remCalc(32);
            }
        }
    }
    
    li {
        @include flexItem(0, 0, auto);
        padding: 0 remCalc(8);
        width: 50%;

        + li {
            margin: 0;
        }
            
        &:nth-last-child(n + 3) {
            margin-bottom: remCalc(20);
        }
        
        @media #{$mediaMd} {
            padding: 0 remCalc(16);
            
            // RESETS THE 3rd element back to 0
            &:nth-last-child(3) {
                margin-bottom: 0;
            }
            
            &:nth-last-child(n + 4) {
                margin-bottom: remCalc(24);
            }
        }

        @media #{$mediaLg} {
            max-width: 25%;

            &:nth-last-child(4) {
                margin-bottom: 0;
            }
            
            &:nth-last-child(n + 5) {
                margin-bottom: remCalc(32);
            }
        }
        
        &:before {
            display: none;
        }

        &.has-subchildren {
            max-width: 100%;
            width: 100%;

            + li {
                margin: remCalc(32) 0 0;
            }
            ul {
                li {
                    .img-wrap {
                        position:relative;
                        width:100%;
                        padding:58.8% 0 0;
                        margin:0 0 remCalc(16);
                        overflow:hidden;
                        img {
                            position:absolute;
                            top:0;
                            left:50%;
                            width:auto;
                            height:100%;
                            transform:translate(-50%, 0);
                        }
                    }
                }
            }
        }
    }

    h2 {
        text-align: center;
        @include position(relative);

        &:before {
            @include position(absolute, null, (left, top), (50%, 50%), translate(-50%, 0));
            width: calc(100% - #{remCalc(16)});
            height: remCalc(1);
            background: $primary;
            content: "";
        }

        > a {
            display: inline-block;
            @include position(relative, null);
            padding: 0 remCalc(32);
            background: $white;
        }
    }
    
    li > a {
        display: block;
        color: $primary;
        text-align: center;
        font-size: remCalc(16);
        line-height: (24 / 16);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1em;

        @include hover {
            color: $secondary;
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 0 remCalc(16);
        border: remCalc(1) solid $neutral-2;
    }

    &.sm {

        @media #{$mediaSmBelow} {
            ul {
                display: block;
            }

            img {
                display: none;
            }

            li {
                width: 100%;
                margin: 0;

                + li {
                    margin: remCalc(8) 0 0;
                }
            }

            a {
                @include position(relative, null);
                background: $accent-7;
                color: $white;
                padding: remCalc(16) remCalc(40) remCalc(16) remCalc(16);
                font-size: remCalc(14);
                letter-spacing: .1em;
                text-align: left;

                &:before {
                    @include position(absolute, null, (right, top), (#{remCalc(16)}, 50%), (translate(0, -50%) rotate(45deg)));
                    content: "";
                    border: remCalc(2) solid $white;
                    border-left-color: transparent;
                    border-bottom-color: transparent;
                    width: remCalc(5);
                    height: remCalc(5);
                }
            }
        }
    }
}
