{{#if forms.wishlist.errors}}
    {{> components/global/alerts/error forms.wishlist.errors}}
{{/if}}
<form action="{{#if forms.wishlist.id}}{{urls.account.wishlists.edit}}{{else}}{{urls.account.wishlists.add}}&product_id={{forms.wishlist.product_id}}{{/if}}" class="form l-above form-wishlist bfx-remove-element" method="post">
    <p>{{lang 'account.wishlists.tag_line'}}</p>
    <input type="hidden" name="submit">

    <div class="form-el">
        <label for="wishlistname">
            {{lang 'forms.wishlist.name'}}
            <small>{{lang 'common.required' }}</small>
        </label>
        <input name="wishlistname" id="wishlistname" value="{{forms.wishlist.name}}">
    </div>
    {{!-- <div class="form-cr">
        <input type="checkbox" name="publicwishlist" id="publicwishlist" {{#if forms.wishlist.is_public}}checked{{/if}}>
        <label for="publicwishlist">{{lang 'forms.wishlist.public' }}</label>
    </div> 
   --}}

    <div class="form-btns">
        {{#if forms.wishlist.id}}
            <input type="hidden" name="wishlistid" value="{{forms.wishlist.id}}">
            <button type="submit" class="btn-primary">
                {{lang 'account.wishlists.save'}}
            </button>
        {{else}}
            <button type="submit" class="btn-primary">
                {{lang 'account.wishlists.create'}}
            </button>
        {{/if}}
    </div>
</form>
