{{#unless customer.addresses}}
    {{> components/global/alerts/info (lang 'account.addresses.no_addresses')}}
{{/unless}}
<div class="addresses">
    {{#each customer.addresses}}
        <article class="card">
            <div class="cnt">
                <h3 class="h5">{{first_name}} {{last_name}}</h3>
                <p>
                    {{#if company }}{{company}}<br />{{/if}}
                    {{address1}}<br />
                    {{#if address2}}{{address2}}<br />{{/if}}
                    {{city}}{{#if state}}, {{state}}{{/if}} {{zip}}<br />
                    {{country}}
                </p>
                    <p>
                        <strong>{{lang 'account.addresses.phone' }}</strong> 
                        {{#if phone}}
                        {{phone}}
                        {{else}}
                        {{/if}}
                    </p>
                <form action="{{delete_url}}" method="post" data-delete-address="{{lang 'forms.address.confirm_delete'}}">
                    <div class="form-btns">
                        <a class="btn-primary sm" href="{{edit_url}}">{{lang 'common.edit' }}</a>
                        <button type="submit" class="btn-secondary sm">{{lang 'common.delete' }}</button>
                    </div>
                </form>
            </div>
        </article>
    {{/each}}
    <a class="btn-primary" href="{{urls.account.add_address}}">
        <svg><use xlink:href="#icon-add"></use></svg>
        {{lang 'account.addresses.new_address' }}
    </a>
</div>
