<h2>{{lang 'account.messages.heading' }}</h2>
<ul class="inbox">
    {{#each messages}}
    <li>
        <p class="date">{{date}}</p>
        <h3 class="h4">
            {{subject}}
        </h3>
        <p class="{{#unless unread}}is-read{{/unless}}">
            {{#if is_reply}}
                {{lang 'account.messages.merchant_said' store_name=../../settings.store_name}}
            {{else}}
                {{lang 'account.messages.customer_said'}}
            {{/if}}
            {{message}}
        </p>
    </li>
    {{/each}}
</ul>
