<nav class="int">
    <input type="checkbox" id="account-nav">
    <label class="account-options btn-" for="account-nav">
        <h1 class="top-label-heading">{{lang 'account.nav.heading'}}</h1>
        <svg>
            <use xlink:href="#icon-caret-down"></use>
        </svg>
    </label>
    <ul class="int-ul">
        <label class="btn-primary int-label" for="account-nav">
            <a class="back-nav">Back</a>
            <svg>
                <use xlink:href="#icon-caret-up"></use>
            </svg>
        </label>
        <li{{#if account_page '===' 'orders'}} class="is-active"{{/if}}>
            <a href="{{urls.account.orders.all}}">
                {{lang 'account.nav.orders'}}
                <svg>
                    <use xlink:href="#icon-caret-right"></use>
                </svg>
            </a>
        </li>
        {{#if urls.account.credit}}
        <li{{#if account_page '===' 'credit'}} class="is-active"{{/if}}>
                <a href="{{urls.account.credit}}">
                    {{lang 'account.nav.credit'}}
                    <svg>
                        <use xlink:href="#icon-caret-right"></use>
                    </svg>
                </a>
            </li>
        {{/if}}
      {{!--  {{#if settings.returns_enabled}}
            <li{{#if account_page '===' 'returns'}} class="is-active"{{/if}}>
                <a href="{{urls.account.returns}}">
                    {{lang 'account.nav.returns'}}
                    <svg>
                        <use xlink:href="#icon-caret-right"></use>
                    </svg>
                </a>
            </li>
        {{/if}} --}}
        <li class="navBar-item">
<a class="navBar-action rebillia-manage-account jq-rebillia-manage-account" data-section="paymentoptions" data-type="rebillia-navLink" style="pointer-events: none; opacity: .45;">Manage Payment Options</a>
</li>
<li class="navBar-item">
<a class="navBar-action rebillia-manage-account jq-rebillia-manage-account" data-section="subscriptions" data-type="rebillia-navLink" style="pointer-events: none; opacity: .45;">View Subscriptions</a>
</li>
<li class="navBar-item">
<a class="navBar-action rebillia-manage-account jq-rebillia-manage-account" data-section="deliveries" data-type="rebillia-navLink" style="pointer-events: none; opacity: .45;">View Upcoming Deliveries</a>
</li>
        <li{{#if account_page '===' 'addresses'}} class="is-active"{{/if}}>
            <a class="navBar-action" href="{{urls.account.addresses}}">
                {{lang 'account.nav.addresses'}}
                <svg>
                    <use xlink:href="#icon-caret-right"></use>
                </svg>
            </a>
        </li>
        {{#if settings.show_payment_methods}}
            <li{{#if account_page '===' 'payment_methods'}} class="is-active"{{/if}}>
                <a href="{{urls.account.payment_methods.all}}">
                    {{lang 'account.nav.payment_methods'}}
                    <svg>
                        <use xlink:href="#icon-caret-right"></use>
                    </svg>
                </a>
            </li>
        {{/if}}
        {{#if settings.show_wishlist}}
            <li{{#if account_page '===' 'wishlists'}} class="is-active"{{/if}}>
                <a href="{{urls.account.wishlists.all}}">
                    {{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}
                    <svg>
                        <use xlink:href="#icon-caret-right"></use>
                    </svg>
                </a>
            </li>
        {{/if}}
        <li{{#if account_page '===' 'recent_items'}} class="is-active"{{/if}}>
            <a href="{{urls.account.recent_items}}">
                {{lang 'account.nav.recently_viewed'}}
                <svg>
                    <use xlink:href="#icon-caret-right"></use>
                </svg>
            </a>
        </li>
        <li {{#if account_page '===' 'settings'}}class="is-active"{{/if}}>
            <a class="navBar-action" href="{{urls.account.details}}">
                {{lang 'account.nav.settings'}}
                <svg>
                    <use xlink:href="#icon-caret-right"></use>
                </svg>
            </a>
        </li>
        <li>
            <a class="navBar-action" href="{{urls.auth.logout}}">
                {{lang 'account.nav.sign_out'}}
                <svg>
                    <use xlink:href="#icon-caret-right"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
