<div class="f-orders">
    {{#each orders }}
    <article class="card">
        <a href="{{this.details_url}}" class="img-w">
            {{#if items.0.type '===' 'giftcertificate'}}
            <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
            {{else}}
                {{> components/global/responsive-img
                    image=image
                    class="account-product-image"
                    fallback_size=../../theme_settings.productthumb_size
                    lazyload=../../theme_settings.lazyload_mode
                    default_image=../../theme_settings.default_image_product
                }}
            {{/if}}
        </a>
        <p class="product-name">{{this.items.0.name}}</p>
        <div class="cnt">
            <h3 class="account-product-title">
                <a href="{{this.details_url}}">{{lang 'account.orders.list.order_number' number=this.id}}</a>
            </h3>
            <p>{{lang 'account.orders.list.product_details' num_products=this.items.length cost=this.total.formatted}}</p>
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{lang 'account.orders.order_placed' }}</h4>
                    <p>{{this.date}}</p>
                </div>
                <div class="col-xs-12">
                    <h4>{{lang 'account.orders.last_update' }}</h4>
                    <p>{{this.last_update_date}}</p>
                </div>
                <div class="col-xs-12">
                    <h4>{{lang 'account.orders.order_status' }}</h4>
                    <p class="status">{{this.status}}</p>
                </div>
            </div>
        </div>
    </article>
    {{/each}}
</div>
