<h2 class="account-heading">{{lang 'account.orders.details.order_contents'}}</h2>
<ul class="account-list mimic-cart">
    {{#each order.items}}
        {{#if shipping_rows.length}}
            {{#each shipping_rows}}
                <li class="account-listShipping">
                    <h5 class="account-listShipping-title">{{lang 'account.orders.details.ship_to_multi' street=address city=city state=state zip=zip country=country}}</h5>
                </li>
            {{/each}}
        {{/if}}
    <li class="account-listItem">
        {{! The goal of the next code block is to generate links for products.
            order_product_id and product_id are two separate values.
            order_product_id is a unique identifier per order placed mapping to a product.
            product_id (or product.id) is the unique identifier of a product in the catalog, 
            and may be used as a cannonical link with the format: /products.php?productId=XYZ
            This could be written without nested loops if it were possible to access the results
            of the split helper function by array index. It does not appear that this is doable.
            The closest helper functions such as 'after' and 'before' do not seem to work when nested.}}
        {{#each (split image.data "products/") as |text index| }}
            {{#if index '==' '1'}}
                {{#each (split this "/") as |text2 index2| }}
                  {{#if index2 '==' '0'}}
                      {{assignVar 'productID' this }}
                  {{/if}}
                {{/each}}
            {{/if}}
        {{/each}}

        {{#if show_reorder}}
            <div class="account-product-checkItem form-cr">
                <input class="form-checkbox check-only" type="checkbox" id="account-product-id-{{order_product_id}}" value="{{order_product_id}}">
                <label for="account-product-id-{{order_product_id}}" class="form-label">
                    <span class="sr-only">Checkbox {{order_product_id}} label</span>
                </label>
            </div>
        {{/if}}
        <label class="img-w" for="account-product-id-{{order_product_id}}">
            {{#if type '===' 'giftcertificate'}}
                <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="Gift Certificate" title="Gift Certificate">
            {{else}}
            <a href="/products.php?productId={{ getVar "productID" }}">
                {{> components/global/responsive-img
                    image=image
                    class="account-product-image"
                    fallback_size=../../theme_settings.productthumb_size
                    lazyload=../../theme_settings.lazyload_mode
                    default_image=../../theme_settings.default_image_product
                }}
            </a>
            {{/if}}
            {{#unless refunded}}
                {{#if download_url}}
                    <a href="{{download_url}}" class="account-product-download button button--primary">
                        <span class="is-srOnly">{{lang 'account.orders.details.download_items'}}</span>
                        <span class="icon">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down"></use>
                            </svg>
                        </span>
                    </a>
                {{/if}}
            {{/unless}}
        </label>
        <div class="cnt">
        <p class="title">
        <a href="/products.php?productId={{ getVar "productID" }}">
        {{quantity}} &#215; {{name}}
        </a>
        </p>
            <p class="price">{{price.formatted}}</span>
            {{#if brand}}
                <h6>{{brand.name}}</h6>
            {{/if}}
            {{#if options}}
            <dl class="definitionList">
                {{#each options}}
                    <dt class="definitionList-key">{{name}}:</dt>
                    <dd class="definitionList-value">{{value}}</dd>
                {{/each}}
            </dl>
            {{/if}}
            {{#if gift_wrapping_name}}
                <dl class="definitionList">
                    <dt class="definitionList-key">{{lang 'account.orders.gift_wrapping'}}</dt>
                    <dd class="definitionList-value">{{gift_wrapping_name}}</dd>
                </dl>
            {{/if}}
            {{#if event_date}}
                <dl class="definitionList">
                    <dt class="definitionList-key">
                        {{event_date.name}}:
                    </dt>

                    <dd class="definitionList-value">
                        {{event_date.date}}
                    </dd>
                </dl>
            {{/if}}
            {{#if refunded}}
                <p class="account-product-refundQty">{{lang 'account.orders.refunded_quantity' qty=refunded_qty}}</p>
            {{else}}
                {{#if refunded_qty}}
                    <p class="account-product-refundQty">{{lang 'account.orders.refunded_quantity' qty=refunded_qty}}</p>
                {{/if}}
            {{/if}}
            {{#if reorder_message}}
                <p>{{{reorder_message}}}</p>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>
