<div class="wishlist-holder">
    <table class="table table-wishlists">
    <thead class="table-thead">
        <tr>
            <th class="th-1">{{lang 'account.wishlists.name'}}</th>
            <th>{{lang 'account.wishlists.num_items'}}</th>
            <!-- <th>{{lang 'account.wishlists.shared'}}</th> -->
            <th>{{lang 'account.wishlists.action'}}</th>
        </tr>
    </thead>
    <tbody class="table-tbody">
    {{#each customer.wishlists}}
        <tr>
            <td>
                <a href="{{view_url}}">{{name}}</a>
            </td>
            <td>{{num_items}}</td>
            <!-- <td>
                {{#if is_public }}
                    {{#if is_public}}
                        <a href="{{share_url}}" class="btn-txt alt sm" role="button">
                            <svg>
                                <use xlink:href="#icon-heart"></use>
                            </svg>
                            {{lang 'common.share'}}
                        </a>
                    {{/if}}
                {{/if}}
            </td> -->
            <td class="table-actions">
                <form method="post" action="{{delete_url}}" class="form">
                    <a href="{{edit_url}}" class="btn-txt sm" data-wishlist>
                        <svg>
                            <use xlink:href="#icon-edit"></use>
                        </svg>
                        {{lang 'common.edit'}}
                    </a>
                    <button type="submit" class="btn-txt sm" data-wishlist-delete>
                        <svg>
                            <use xlink:href="#icon-trash"></use>
                        </svg>
                        {{lang 'common.delete'}}
                    </button>
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<form method="post" action="{{this.urls.account.wishlists.delete}}" class="form l-above">
    {{#unless customer.wishlists}}
        <p class="form-actions">{{> components/global/alerts/info (lang 'account.wishlists.you_have_none')}}</p>
    {{/unless}}
    {{#if customer.wishlists}}
        {{#each customer.wishlists}}
            <input type="hidden" value="{{this.id}}" name="deletewishlist[]">
        {{/each}}
    {{/if}}
        {{#if customer.wishlists}}
        <div class="form-btns">
        {{else}}
        <div class="form-btns flx-start">
        {{/if}}
        <a href="{{this.urls.account.wishlists.add}}" class="btn-primary" role="button" data-wishlist>{{lang 'account.wishlists.new'}}</a>

        {{inject 'wishlistDelete' (lang 'account.wishlists.delete_alert')}}
        {{#if customer.wishlists}}
            <button type="submit" class="btn-secondary alt" data-wishlist-delete>
                {{lang 'account.wishlists.delete_all'}}
            </button>
        {{/if}}
    </div>
</form>
</div>
