{{#if this.partial "===" "date" }}
{{> components/products/options/date }}
{{/if}}
{{#if this.partial "===" "input-text" }}
    {{> components/products/options/input-text-w-pattern product=product }}
{{/if}}
{{#if this.partial "===" "input-checkbox" }}
    {{> components/products/options/input-checkbox }}
{{/if}}
{{#if this.partial "===" "input-file" }}
    {{> components/products/options/input-file }}
{{/if}}
{{#if this.partial "===" "input-numbers" }}
    {{> components/products/options/input-numbers }}
{{/if}}
{{#if this.partial "===" "product-list" }}
    {{> components/products/options/product-list }}
{{/if}}
{{#if this.partial "===" "set-radio" }}
    {{> components/products/options/set-radio }}
{{/if}}
{{#if this.partial "===" "set-rectangle" }}
    {{> components/products/options/set-rectangle }}
{{/if}}
{{#if this.partial "===" "set-select" }}
    {{> components/products/options/set-select }}
{{/if}}
{{#if this.partial "===" "swatch" }}
    {{> components/products/options/swatch }}
{{/if}}
{{#if this.partial "===" "textarea" }}
    {{> components/products/options/textarea }}
{{/if}}
