<div class="form-field opts-swatch" data-product-attribute="swatch" data-display-name="{{ this.display_name }}">
    <p>
        {{last (split this.display_name "|")}}:
        <span data-option-value></span>
        <small {{#unless required}}style="display:none"{{/unless}}>{{lang 'common.required'}}</small>
    </p>

    {{#each this.values}}
        <input class="form-radio" type="radio" name="attribute[{{../id}}]" value="{{id}}" id="attribute_swatch_{{../id}}_{{id}}" {{#if selected}}checked data-default{{/if}} {{#if ../required}}required{{/if}}>
        <label class="swatch" for="attribute_swatch_{{../id}}_{{id}}" data-product-attribute-value="{{id}}">
            {{!--{{#if image}}
                <span aria-label="{{this.label}}" style="background-image: url('{{getImage image "swatch_option_size"}}');  background-size: contain;"></span>
            {{/if}}--}}
            {{#each data}}
                <span aria-label="{{this.label}}" style="background-color: #{{this}}"></span>
            {{/each}}
            {{#if pattern}}
                <span aria-label="{{this.label}}" title="{{this.label}}" class="form-option-image" style="background-image: url('{{getImage image 'core-swatch'}}'); background-size: contain;"></span>
            {{/if}}
        </label>
    {{/each}}
</div>
