// custom CSS for the account status page on desktop 
.f-orders {
    .card {
        width: 100%;
        display: flex !important;
        flex-wrap: wrap;
        border: 1px #ddd solid;
        border-radius: 4px;
        padding: 15px;
        margin-bottom: 30px;
        box-shadow: 0 2px 5px #eee;

        .img-w {
            max-width: 100px;
            padding: 50px 0;
        }


        .row {
            .col-xs-12 {
                margin-top: 0 !important;
                width: auto;
            }
        }
    }

    .image-div {
        min-width: 100%;
        display: flex;

        .img-w {
            height: auto;
            z-index: 1;
            width: auto;
            padding: 0;

            img {
                max-width: 100px;
                position: relative;
                left: auto;
                top: auto;
                transform: none;
            }
        }

        .product-name {
            margin-left: 20px;
        }
    }

    .product-details-p {
        font-size: 14px;
    }

    .cnt {
        min-width: 100%;
        display: block;

        .account-product-title {
            margin-top: 10px;
            text-transform: uppercase;
            font-size: 19px;

            a {
                font-size: 16px;
            }
        }

        & > div {
            display: flex; 
            flex-wrap: wrap;
            justify-content: space-between;
        }

        h4 {
            font-size: 12px;
        }

        p:last-child {
            font-size: 14px;
        }
    }
}

// hide featured dropdown on cart page
.f-orders + .pagination {
    .form-el {
        display: none;
    }
}

// 'show per page' dropdown on cart page change text to be all in one line
.show {
    label {
        width: 205px;
    }
}

// hiding undefined pagination on orders page
.account_orderstatus {
    .pagination {
        p {
            display: none;
        }
    }
}

// account > orders > details page
.account_order {
    h1 {
        font-size: 28px;
        padding-bottom: 4px;
        border-bottom: 1px solid #aaa;
    }

    h2.account-heading {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .account-product-checkItem {
        display: none;
    }

    .mimic-cart {
        border-bottom: none;

        li {
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: 0 2px 5px #eee;
            padding: 15px;
            margin-bottom: 25px;

            .cnt {
                label {
                    font-size: 14px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        .definitionList {
            display: none;
        }
    }

    .va-top {
        p {
            font-size: 14px;
        }
    }

    .va-top + hr {
        background: #aaa;
    }

    .totals-wrap {
        margin-left: 15px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-top: 41px;
        width: 29.5%;

        .cart {
            h3 {
                font-size: 20px;
            }
        }

        dl dt {
            font-size: 11px;
            width: 65%;
        }

        dl dd {
            font-size: 11px;
            width: 35%;
        }

        .print-invoice.btn-secondary {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    .account_order {
        h1.ta-left {
            margin-bottom: 0;
        }

        section {
            padding-top: 0;
        }

        .totals-wrap {
            margin-left: 0 !important;
            width: 100% !important;
        }
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .details.totals-wrap {
        display: flex;

        .cart,
        .order-details {
            width: 50%;
            display: flex;
            flex-direction: column;
        }
    }
}


// msrp price strike through
.msrp-price {
    text-decoration: line-through;
    font-style: italic;
    padding-left: 15px;
}

.msrp-true {
    color: #ff7900;
}

// fixing padding on cart page for add to wishlist 
.form-wishlist {
    padding-left: 0px !important;
    margin-right: 0 !important;
}

.item-options {
    justify-content: flex-end !important;
}

@media (max-width: 768px) {
    .item-options {
        justify-content: center !important;
    }
}

@media (min-width: 992px) and (max-width: 1131px) {
    .item-options {
        a {
            font-size: 12px !important;
        }
    }
}

// editing the padding top on cart page so its not far away from the header
@media (min-width: 992px) {
    section[data-cart] {
        padding-top: 25px;
    }
}

// custom page template
.custom-marketing-page {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    .fullwidth {
        width: 100vw;
        display: block;
        margin-left: -49vw;
        margin-right: -49vw;
        position: relative;
        left: 48%;
        right: 48%;
    }
}



// editing massive x on admin top bar
#close-admin-bar {
    img {
        max-width: 20px;
        margin-right: 15px;
    }
}

.adminBar-close span:hover {
    background-color: transparent;
}
