// =============================================================================
// G&M Crabcakes > OPTIMIZED CHECKOUT
// =============================================================================
@import 'base/fonts';
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/resets';
/*  --------------------------------------------------------------------------  *\

    COPY STYLES

    This sets our base for all the copy on the website

\*  --------------------------------------------------------------------------  */
@import 'structure/copy/base';
/*  --------------------------------------------------------------------------  *\

    COMPONENTS

    The order here doesn't really matter, these imports will call in all 
    the components we've built for the website.

\*  --------------------------------------------------------------------------  */
@import 'checkout/base';
//
// Rebillia Platform Integration
// Styles
// -----------------------------------------------------------------------------
body {
    & .checkout-step--customer, & .checkout-step--payment {
      & .rebillia-customer--loader, & .rebillia-payment--loader {
        color: #2d2d2d;
        display: none;
        justify-content: right;
        left:0;
        margin: auto;
        margin-right: 0;
        min-width: 130px;
        position:relative;
        opacity:0;
        top:0;
        transition: opacity .3s ease-in-out;
      }
      & .checkout-view-content {
        & div:first-child {
          max-height: 0;
          opacity: 0;
          overflow: hidden;
          transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
        }
        & .creditCardFieldset, & .form-ccFields {
          max-height: 0;
          opacity: 0;
          overflow: hidden;
          transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
        }
        & .rebillia-payment-form {
          & .rebillia-customer-payment-list {
            margin: 0;
            padding: 0;
            & .rebillia-form-row {
              background-color: transparent;
              border: 0 none;
              list-style: none;

            &:before {
                display:none;
            }

              & .rebillia-form-field {
                & .form-label {
                  &.rebillia-form-label {
                    padding-left: 2.5em;
                    &:before, &:after {
                      left: 0;
                    }
                  }
                }
              }
              &.row-payment-form {
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
              }
            }
          }
          &.rebillia-payment-form--visible {
            & .rebillia-customer-payment-list {
              & .rebillia-form-row {
                &.row-payment-form {
                  max-height: 2048px;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      & .rebillia-paypal-agreement-message {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity .3s ease-in-out, max-height .3s ease-in-out;
      }
    }
    & .modal-background {
      &.rebillia-modal-background {
        display: block;
        opacity: 0;
        transition: opacity .45s ease-in-out;
        z-index: -1;
      }
    }
    & .modal {
      &.rebillia-modal {
        display: block;
        opacity: 0;
        pointer-events: none;
        transition: opacity .33s ease-in-out;
        visibility: visible;
        z-index: -1;
      }
    }
    &.rebillia-step-customer--loaded {
      & .checkout-step--customer {
        & .rebillia-customer--loader {
          display: none;
          opacity: 0;
        }
        & .checkout-view-content {
          & div:first-child{
            max-height: 2048px;
            opacity: 1;
          }
        }
      }
    }
    &.rebillia-step-customer--loading {
      & .checkout-step--customer {
        & .rebillia-customer--loader {
          display: flex;
          opacity: 1;
        }
        & .checkout-view-content {
          & div:first-child {
            max-height: 0;
            opacity: 0;
          }
        }
      }
    }
    &.rebillia-step-payment--loaded {
      & .checkout-step--payment {
        & .rebillia-payment--loader {
          display: none;
          opacity: 0;
        }
        & .checkout-view-content {
          & div:first-child{
            max-height: 2048px;
            opacity: 1;
          }
          & .creditCardFieldset, & .form-ccFields {
            max-height: 2048px;
            opacity: 1;
          }
          & .form-ccFields {
            &.rebillia--force--hidden {
              display: none!important;
            }
          }
        }
      }
      &.rebillia-payment-source--selected {
        & .checkout-step--payment {
          & .checkout-view-content {
            & .paymentMethod {
              & .creditCardFieldset, & .form-ccFields, & .form-fieldset {
                margin: 0;
                max-height: 0;
                opacity: 0;
              }
            }
            & .form-ccFields {
              &.rebillia-form-ccFields {
                max-height: 2048px;
                opacity: 1;
                overflow: auto;
              }
              &.rebillia--force--hidden {
                display: none!important;
              }
            }
          }
        }
      }
      &.rebillia-payment-source--onpaypal {
        & .rebillia-paypal-agreement-message {
          max-height: 2048px;
          opacity: 1;
        }
      }
    }
    &.rebillia-step-payment--loading {
      & .checkout-step--payment {
        & .rebillia-payment--loader {
          display: flex;
          opacity: 1;
        }
        & .checkout-view-content {
          & div:first-child {
            max-height: 0;
            opacity: 0;
          }
        }
      }
    }
    &.rebillia-modal--show {
      & .modal-background {
        &.rebillia-modal-background {
          opacity: 1;
          z-index: 100;
        }
      }
      & .modal {
        &.rebillia-modal {
          opacity: 1;
          pointer-events: auto;
          z-index: 101;
        }
      }
    }
  }
