{{#partial "page"}}

    {{inject 'creditCardNumber' (lang 'forms.validate.payment_method.credit_card_number')}}
    {{inject 'expiration' (lang 'forms.validate.payment_method.expiration')}}
    {{inject 'nameOnCard' (lang 'forms.validate.payment_method.name_on_card')}}
    {{inject 'cvv' (lang 'forms.validate.payment_method.cvv')}}

    {{inject 'firstNameLabel' (lang 'forms.payment_methods.first_name')}}
    {{inject 'lastNameLabel' (lang 'forms.payment_methods.last_name')}}
    {{inject 'companyLabel' (lang 'forms.payment_methods.company')}}
    {{inject 'phoneLabel' (lang 'forms.payment_methods.phone')}}
    {{inject 'address1Label' (lang 'forms.payment_methods.address1')}}
    {{inject 'address2Label' (lang 'forms.payment_methods.address2')}}
    {{inject 'cityLabel' (lang 'forms.payment_methods.city')}}
    {{inject 'countryLabel' (lang 'forms.payment_methods.country')}}
    {{inject 'stateLabel' (lang 'forms.payment_methods.state')}}
    {{inject 'postalCodeLabel' (lang 'forms.payment_methods.postal_code')}}
    {{inject 'chooseCountryLabel' (lang 'forms.payment_methods.choose_country')}}

    {{inject 'paymentMethodsUrl' urls.account.payment_methods.all}}
    {{inject 'paymentsUrl' settings.payments_url}}
    {{inject 'storeHash' settings.store_hash}}
    {{inject 'vaultToken' vault.access_token}}
    {{inject 'shopperId' customer.id}}
    {{inject 'countries' countries}}
    {{#if customer.customer_group_id "===" 1}}
        <header class="hero">
            <div class="container">
                {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
                <h1 class="ta-left">
                    {{lang 'account.pending.heading'}}
                </h1>
                <p class="ta-center">{{lang 'account.pending.copy'}}</p>
            </div>
        </header>
    {{ else }}
        <header class="hero">
            <div class="container">
                {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
                <h1 class="ta-left">
                    {{lang 'forms.payment_methods.add.heading'}}
                </h1>
                {{> components/account/navigation account_page='payment_methods'}}
            </div>
        </header>
        <section>
            <div class="container account">
                <div class="sidebar-nav nav">
                    {{> components/account/navigation account_page='payment_methods'}}
                </div>
                <div class="row ha-center">
                    <div class="col-xs-12 col-md-10 col-lg-8">
                        {{#if forms.error}}
                            {{> components/global/alerts/error forms.error}}
                        {{/if}}
                        <form data-payment-method-form class="form">
                            <input type="hidden" name="email" value="{{customer.email}}">
                            <input type="hidden" name="provider_id" value="{{forms.provider}}">
                            <input type="hidden" name="currency_code" value="{{currency_selector.active_currency_code}}">
                            <h2>{{lang 'account.payment_methods.payment_method'}}</h2>
                            <p>
                                {{forms.payment_method.provider_name}}
                                <span class="paymentMethodForm-cards">
                                    {{#each ../theme_settings.supported_card_type_icons}}
                                        <img class="paymentMethodForm-cards-icon" src="{{cdn (concat (concat 'img/payment-methods/' this) '.svg')}}" alt="{{lang (concat 'account.payment_methods.card_types.' this)}}" title="{{lang (concat 'account.payment_methods.card_types.' this)}}">
                                    {{/each}}
                                </span>
                            </p>
                            {{> components/global/forms/text id="credit_card_number" name="credit_card_number" label=(lang 'account.payment_methods.credit_card_number')}}
                            {{> components/global/forms/text id="expiration" name="expiration" label=(lang 'account.payment_methods.expiration') placeholder="MM/YY"}}
                            {{> components/global/forms/text id="name_on_card" name="name_on_card" label=(lang 'account.payment_methods.name_on_card')}}
                            {{> components/global/forms/text id="cvv" name="cvv" label=(lang 'account.payment_methods.cvv')}}
                            <div class="form-cr">
                                <input type="checkbox" name="default_instrument" id="default_instrument" data-label="{{lang 'forms.payment_methods.default_instrument'}}" />
                                <label for="default_instrument">{{lang 'forms.payment_methods.default_instrument'}}</label>
                            </div>
                            <h2>{{lang 'account.payment_methods.billing_address'}}</h2>
                            {{> components/global/forms/text private_id="FirstName" required=true id="first_name" name="first_name" label=(lang 'forms.payment_methods.first_name')}}
                            {{> components/global/forms/text private_id="LastName" required=true id="last_name" name="last_name" label=(lang 'forms.payment_methods.last_name')}}
                            {{> components/global/forms/text private_id="CompanyName" required=false id="company" name="company" label=(lang 'forms.payment_methods.company')}}
                            {{> components/global/forms/text private_id="Phone" required=false id="phone" name="phone" label=(lang 'forms.payment_methods.phone')}}
                            {{> components/global/forms/text private_id="AddressLine1" required=true id="address1" name="address1" label=(lang 'forms.payment_methods.address1')}}
                            {{> components/global/forms/text private_id="AddressLine2" required=false id="address2" name="address2" label=(lang 'forms.payment_methods.address2')}}
                            {{> components/global/forms/text private_id="City" required=true id="city" name="city" label=(lang 'forms.payment_methods.city')}}
                            {{> components/global/forms/select private_id="Country" required=true id="country" name="country" label=(lang 'forms.payment_methods.country') chooseprefix=(lang 'forms.payment_methods.choose_country') options=countries}}
                            {{> components/global/forms/text private_id="State" required=true id="state" name="state" label=(lang 'forms.payment_methods.state')}}
                            {{> components/global/forms/text private_id="Zip" required=true id="postal_code" name="postal_code" label=(lang 'forms.payment_methods.postal_code')}}
                            <div class="form-btns">
                                <button type="submit" 
                                        class="btn-primary">
                                    {{lang 'forms.payment_methods.submit_value'}}
                                </button>
                                <a href="{{urls.account.payment_methods.all}}" class="btn-txt">{{lang 'common.cancel'}}</a>
                                {{inject 'required' (lang 'common.required')}}
                                {{inject 'state_error' (lang 'errors.state_error')}}
                                {{inject 'generic_error' (lang 'common.generic_error')}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {{/if}}
{{/partial}}
{{> layout/base}}
