{{#partial "page"}}
    <header class="hero">
        <div class="container">
            {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
            <h1 class="ta-left">{{lang 'account.addresses.heading' }}</h1>
            {{> components/account/navigation account_page='addresses'}}
        </div>
    </header>
    <section>
        <div class="container">
            <div class="sidebar-nav nav">
                {{> components/account/navigation account_page='addresses'}}
            </div>
            {{#if customer.error}}
                {{>components/global/alerts/error customer.error}}
            {{/if}}
            {{#if customer.success}}
                {{>components/global/alerts/success customer.success}}
            {{/if}}
            {{> components/account/address-list }}
        </div>
    </section>
{{/partial}}
{{> layout/base}}
