{{#partial "page"}}
    <header class="hero">
        <div class="container">
            {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
            <h1 class="ta-left">{{lang 'account.payment_methods.heading' }}</h1>
            {{> components/account/navigation account_page='payment_methods'}}
        </div>
    </header>
    <section>
        <div class="container account">
            <div class="sidebar-nav nav">
                {{> components/account/navigation account_page='payment_methods'}}
            </div>
            {{> components/account/payment-methods-list }}
        </div>
    </section>
{{/partial}}
{{> layout/base}}
