<div id="facetedSearch" class="facetedSearch sidebarBlock">
    <label for="facetsCheck" class="mobile-filter x-check"></label>
    
    
    <h1 class="mobile-filter">{{lang 'categories.facets_heading'}}</h1>
    {{> components/faceted-search/selected-facets this.selected}}
    <dl class="accordion acc-facets" data-allow-multiple="true" data-allow-toggle="true">
        {{#any facets visible=true}}
            {{#each facets}}
                {{#if visible}}
                    {{{dynamicComponent 'components/faceted-search/facets'}}}
                {{/if}}
            {{/each}}
        {{/any}}
    </dl>
    {{#if category.selected.remove_all_url}}
    <div class="facet-btns">
        <a href="{{ category.selected.remove_all_url }}" data-faceted-search-facet>
            {{lang 'search.faceted.selected.clear-all'}}
        </a>
    </div>
    {{/if}}
</div>
