<div class="feed-products" data-rfk-products {{!--id="product-listing-container" {{#if forms.search.section '!=' 'product'}}class="u-hiddenVisually"{{/if}}--}}>
    <form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Search Results" {{/if}} data-product-compare>
        {{> components/products/lists/list products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
    </form>
    {{> components/global/paginator pagination.product_results}}
</div>
