/*  --------------------------------------------------------------------------  *\

    BADGE

\*  --------------------------------------------------------------------------  */
.badges {
    @include flex(flex-start, center, null, row wrap);
    margin: 0 0 remCalc(16);

    @media #{$mediaLg} {
        @include position(absolute, null, (right, top), (0, #{remCalc(-16)}), translate(0, -100%));
    }
}

.badge {
    @include flex(space-between, center, null, row nowrap);
    border-radius: remCalc(13);
    height: remCalc(26);
    line-height: remCalc(26);
    background: $accent-1;
    color: $white;

    .icon {
        width: remCalc(26);
        height: remCalc(26);
        background: #FCC211;
        border-radius: remCalc(13);
        padding: remCalc(3);

        svg {
            fill: $white;
            height: remCalc(20);
            width: remCalc(20);
        }
    }

    .cnt {
        @include flex(space-between, center, null, row nowrap);
        font-size: remCalc(12);
        padding: 0 remCalc(12);
    }

    .tooltip-trigger {
        display: block;
        margin: 0 0 0 remCalc(8);
        font-size: remCalc(8);
        color: $white;
        border: remCalc(1) solid $white;
        border-radius: remCalc(8);
        height: remCalc(14);
        width: remCalc(14);
        line-height: remCalc(14);
        text-align: center;
    }
}
