<nav class="int-v">
    <ul>
        <li{{#if gift_page '===' 'purchase'}} class="active"{{/if}}>
            <a href="{{urls.gift_certificate.purchase}}">
                {{lang 'gift_certificate.purchase.heading'}}
            </a>
        </li>
        <li{{#if gift_page '===' 'redeem'}} class="active"{{/if}}>
            <a href="{{urls.gift_certificate.redeem}}">
                {{lang 'gift_certificate.redeem.heading'}}
            </a>
        </li>
        <li{{#if gift_page '===' 'balance'}} class="active"{{/if}}>
            <a class="navBar-action" href="{{urls.gift_certificate.balance}}">
                {{lang 'gift_certificate.balance.heading'}}
            </a>
        </li>
    </ul>
</nav>
