/*  --------------------------------------------------------------------------  *\

    DIALOG - MODAL > HEADER

\*  --------------------------------------------------------------------------  */
&-header {
    font-size: remCalc(32);
    font-weight: 600;
    h2 {margin-bottom:20px;}
}

&-warning {
	position: relative;
    background-color: $secondary;
    border-radius: 50%;
    width: remCalc(80);
    height: remCalc(80);
    color: $white;

    .swal2-icon-content {
        @include position(absolute, null, (left, top), (50%, 50%), translate(-50%, -50%));
        color: $primary;
    }
}
