<table class="line-items" data-cart-quantity="{{cart.quantity}}">
    <thead>
        <tr>
            <th>
                <span>{{lang 'cart.checkout.product'}}</span>
            </th>
            <th>
                <span>{{lang 'cart.checkout.quantity'}}</span>
                <span>{{lang 'cart.checkout.subtotal'}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each cart.items}}
            <tr data-item-row class="bfx-product">
                <td>
                    {{#if type '==' 'GiftCertificate'}}
                    <a href="#">
                        <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                    </a>
                    {{else}}
                    <a href="{{url}}"> 
                        {{> components/global/responsive-img
                            image=image
                            class="cart-item-image bfx-product-image"
                            fallback_size=../../theme_settings.productthumb_size
                            lazyload='disabled'
                            default_image=../../theme_settings.default_image_product
                        }}
                    </a>
                    {{/if}}
                    <div>
                        {{#if brand.name}}
                            <p class="brand">{{brand.name}}</p>
                        {{/if}}
                            <p class="title"><a class="bfx-product-name" href="{{url}}">{{name}}</a></p>
                        {{#if release_date}}
                            <p>({{release_date}})</p>
                        {{/if}}
                        <p class="sku">Item # <span class="bfx-sku">{{sku}}</span></p>
                        {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                        
                        <p class="price bfx-price>">
                            {{#if price_discounted}}
                                {{price_discounted.formatted}}
                            {{else}}    
                                {{price.formatted}}
                            {{/if}}  
                        </p>
                        {{else}}
                            {{> components/global/login-for-pricing}}
                        {{/or}}
                        {{#if product.stock_level }}
                        <div class="form-field form-field--stock">
                            <label class="form-label form-label--alternate">
                                {{lang 'products.current_stock'}}
                                <span data-product-stock>{{product.stock_level}}</span>
                            </label>
                        </div>
                        {{/if}}
                        {{> components/products/details/product-view/availability-notice }}
                        {{#if options}}
                            {{#each options}}
                            <div class="option">
                                {{#contains name '|'}}
                                    <span>{{last (split name ' | ')}}:</span>
                                {{else}}
                                    {{#if name '!==' 'Choose Membership Type' }}
                                    <span>{{name}}:</span>
                                    {{/if}}
                                {{/contains}}
                                {{#if is_file}}
                                    <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{value}}</a>
                                {{else}}
                                    {{#if name '!==' 'Choose Membership Type' }}
                                    <span>{{{value}}}</span>
                                    {{/if}}
                                {{/if}}
                            </div>
                            {{/each}}
                            {{!--<a href="#" data-item-edit="{{id}}">{{lang 'cart.checkout.change'}}</a>--}}
                        {{/if}}
                        {{#if type '==' 'GiftCertificate'}}
                        {{!--<a href="{{edit_url}}">{{lang 'cart.checkout.change'}}</a>--}}
                        {{/if}}
                    </div>
                </td>
                <td>
                    <div>
                        <div class="form-field quantity">
                            <div class="form-increment" data-quantity-change>
                                <button class="inc-minus" type="button" data-cart-update data-bdu-cart-item
                                    data-cart-itemid="{{id}}" 
                                    data-cart-product-id="{{product_id}}" 
                                    data-cart-product-sku="{{sku}}"
                                    data-cart-product-name="{{name}}"
                                    data-cart-product-price="{{total.value}}"
                                    data-cart-product-qty="{{quantity}}"
                                    data-cart-product-thumb="{{image.data}}"
                                    data-action="dec">
                                    <span class="sr-only">{{lang 'products.quantity_decrease'}}</span>
                                </button>
                                <input class="form-input form-input--incrementTotal bfx-product-qty"
                                    id="qty-{{id}}"
                                    name="qty-{{id}}"
                                    type="tel"
                                    value="{{quantity}}"
                                    data-cart-itemid="{{id}}"
                                    data-quantity-min="{{min_purchase_quantity}}"
                                    data-quantity-max="{{max_purchase_quantity}}"
                                    data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                                    data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                                    min="1"
                                    pattern="[0-9]*"
                                    aria-live="polite"{{#unless can_modify}} disabled{{/unless}}>
                                <button class="inc-plus" type="button"  data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                                    <span class="sr-only">{{lang 'products.quantity_increase'}}</span>
                                </button>
                            </div>
                        </div>
                        <p class="price-cart bfx-price bfx-product-subtotal"><span class="strong mob-only">{{lang 'cart.checkout.subtotal'}}: </span>
                            {{#if total_discouted.formatted}}
                                {{total_discouted.formatted}}
                            {{else}}
                                {{total.formatted}}
                            {{/if}}
                        </p>
                    </div>
                    <div class="item-options">
                        {{!-- <a href="{{url}}">{{lang 'cart.checkout.change'}}</a>| --}}
                        <a class="remove" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">Remove</a> 
                        {{> components/cart/wishlist-dropdown customer=../customer product_id=product_id class_name="test"}}
                    </div>
                    {{!--{{#if can_modify}}
                        <a class="remove" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <span class="icon">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11 fa-2x"><path fill="#fff" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>
                            </span>
                            <span class="mobile-only">Remove</span>
                        </a>
                    {{else}}
                        {{#if type '==' 'GiftCertificate'}}
                            <a class="remove" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                                <span class="icon">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11 fa-2x"><path fill="#fff" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>
                                </span>
                                <span class="mobile-only">Remove</span>
                            </a>
                        {{/if}}
                    {{/if}}--}}
                </td>
            </tr>
            {{> components/global/local-scripts/bdu-checkoutItems }}

        {{/each}}
    </tbody>
</table>

