<dl class="totals">
    {{#if cart.coupons}}
        {{#each cart.coupons}}
            <dt>{{lang 'cart.coupons.code_label' code=code}} <a href="{{remove_url}}">{{lang 'cart.coupons.remove'}}</a></h2>
            <dd>
                <span class="bfx-price">{{discount.formatted}}</span>
            </dd>
        {{/each}}
    {{else}}
        {{> components/cart/coupon-input}}
    {{/if}}
    {{#if cart.shipping_handling.show_estimator}}
        <dt>{{lang 'cart.checkout.shipping'}}:</dt>
        {{> components/cart/shipping-estimator cart.shipping_handling}}
    {{/if}}
    {{#if settings.gift_certificates_enabled}}
        <dt>{{lang 'cart.gift_certificate'}}:</dt>
        {{> components/cart/gift-certificate-input}}
    {{/if}}
    {{#each cart.taxes}}
        <dt>{{name}}:</dt>
        <dd class="bfx-total-tax">
            <span>{{cost.formatted}}</span>
        </dd>
    {{/each}}
    <dt>{{lang 'cart.checkout.subtotal'}}:</dt>
    <dd>
        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            <span class="bfx-price bfx-total-subtotal">{{cart.sub_total.formatted}}</span>
        {{else}}
            {{> components/global/login-for-pricing}}
        {{/or}}
    </dd>
    {{#if cart.discount }}
        <dt>{{lang 'cart.discount'}}:</dt>
        <dd class="bfx-total-discount">
            {{cart.discount.formatted}}
        </dd>
    {{/if}}

    <dt>{{lang 'cart.checkout.grand_total'}}:</dt>
    <dd>
        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            <span class="bfx-price bfx-grandtotal">{{cart.grand_total.formatted}}</span>
        {{else}}
            {{> components/global/login-for-pricing}}
        {{/or}}
    </dd>
</dl>
