/*  --------------------------------------------------------------------------  *\

    FOOTER - NAV - FOOTER

\*  --------------------------------------------------------------------------  */
p.copyright {
    text-align:left;
    color: $neutral-1;
    a {
        @include hover {
            text-decoration: underline;
            
        }
    }
}
