/*  --------------------------------------------------------------------------  *\

    FOOTER - NAV - FOOTER

\*  --------------------------------------------------------------------------  */
nav.footer-top {
    font-size: remCalc(14);
    line-height: 1.25;
    margin: 0 0 remCalc(32);
    text-align: left;
    text-transform: uppercase;

    ul {
        margin: 0;
        width: 100%;
        @include flex(flex-start, flex-start, null, row wrap);

        @media #{$mediaMd} {
            justify-content: space-evenly;
            flex-flow: row nowrap;
            margin-bottom: remCalc(10);
        }
    }

    li {
        width: 50%;

        &:nth-child(n + 3) {
            margin: remCalc(16) 0 0;
        }
    }

    a {
        padding: remCalc(8) 0;

        @include hover {
            color: $neutral-3;
        }
    }

    @media #{$mediaMd} {
        width: 66.67%;
        margin: 0;
        font-size: remCalc(12);

        li {
            width: auto;

            &:nth-child(3) {
                margin: 0;
            }
            &:nth-child(n + 3) {
                margin: 0;
            }
        }
    }

    @media #{$mediaFullHeader} {

        ul {
            width: auto;
            flex-flow: row nowrap;
        }

        li {
            width: auto;
            margin: 0 remCalc(4);

            &:nth-child(n + 3) {
                margin: 0 remCalc(8);
            }
        }

        a {
            padding: 0 remCalc(4);
        }
    }

    @media #{$mediaXl} {
        font-size: remCalc(14);

        a {
            padding: 0 remCalc(4);
        }
    }

    @media #{$mediaXxl} {
        li {
            margin: 0 remCalc(12);

            &:nth-child(n + 3) {
                margin: 0 remCalc(12);
            }
        }

        a {
            padding: 0 remCalc(12);
        }
    }
}
