/*  --------------------------------------------------------------------------  *\

    DIALOG - BACKDROP

\*  --------------------------------------------------------------------------  */
& {
    @include position(fixed, 5000, (left, top), (0, 0));
    width: 100%;
    height: 100vh;
    background: rgba($primary, 0.75);
}
