{{#partial "page"}}
<header class="hero">
    <div class="container">
        {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1>{{lang 'reset_password.heading' }}</h1>
    </div>
</header>
<section>
    <div class="container">
        <div class="row ha-center">
            <div class="col-xs-12 col-md-6">
                <p>{{lang 'reset_password.intro' }}</p>
                {{#if forms.forgot_password.error}}
                    {{> components/global/alerts/error forms.forgot_password.error}}
                {{/if}}
                <form action="{{urls.auth.send_password_email}}" class="form l-above" method="post">
                    {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
                    <div class="form-el">
                        <label for="email">{{lang 'common.email_address'}}</label>
                        <input name="email" id="email" type="email" formnovalidate>
                    </div>
                    <div class="form-btns ha-left">
                        <button type="submit" class="btn-primary">{{lang 'reset_password.heading' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{/partial}}
{{> layout/base}}
