{{#partial "page"}}
<header class="hero">
    <div class="container">
        {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1>{{lang 'login.heading' }}</h1>
    </div>
</header>
<section>
    <div class="container">
        <div class="row ha-center">
            <div class="col-xs-12 col-md-6 col-xl-5">
                {{#if settings.account_creation_enabled}}
                        <h2>{{lang 'login.new_customer.heading' }}</h2>
                        <div class="cnt">
                            <p>{{lang 'login.new_customer.intro' }}</p>
                            <ul>
                                <li>{{lang 'login.new_customer.fact1' }}</li>
                                <li>{{lang 'login.new_customer.fact2' }}</li>
                                <li>{{lang 'login.new_customer.fact3' }}</li>
                                <li>{{lang 'login.new_customer.fact4' }}</li>
                            </ul>
                            <a href="{{urls.auth.create_account}}" class=" create-account-btn btn-primary">{{lang 'login.new_customer.create_account' }}</a>
                        </div>
                {{/if}}
            </div>
            <div class="col-xs-12 col-md-6 col-xl-5">
                <h2>{{lang 'login.heading2' }}</h2>
                {{#if forms.login.error}}
                    {{> components/global/alerts/error forms.login.error}}
                {{/if}}
                {{#if forms.login.success}}
                    {{> components/global/alerts/success forms.login.success}}
                {{/if}}
                <form class="form l-above" action="{{urls.auth.check_login}}" method="post">
                    {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
                    {{inject 'enterPass' (lang 'forms.validate.common.password')}}
                    <div class="form-el">
                        <label class="form-label" for="login_email">{{lang 'login.field_email'}}</label>
                        <input class="form-input" name="login_email" id="login_email" type="email">
                    </div>
                    <div class="form-el">
                        <label class="form-label" for="login_pass">{{lang 'login.field_password'}}</label>
                        <input class="form-input" id="login_pass" type="password" name="login_pass" autocomplete="off">
                    </div>
                    <div class="form-btns ha-left">
                        <button type="submit" class="btn-primary btn-login">{{lang 'login.submit_value' }}</button>
                        <a class="btn-txt sm" href="{{urls.auth.forgot_password}}">{{lang 'login.forgot_password' }}</a>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</section>
{{/partial}}
{{> layout/base}}
