{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
<header class="hero">
    <div class="container">
        {{> components/global/navs/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1>{{lang 'forms.new_password.heading' }}</h1>
    </div>
</header>
<section>
    <div class="container">
        <div class="row ha-center">
            <div class="col-xs-12 col-md-10 col-lg-8">
                <p>{{forms.new_password.requirements}}</p>
                {{#if forms.new_password.error}}
                    {{> components/global/alerts/error forms.new_password.error}}
                {{/if}}
                <form action="{{forms.new_password.submit_url}}" class="form l-above new-password-form" method="post">
                    <div class="form-el">
                        <label class="form-label" for="password">
                            {{lang 'forms.new_password.password' }}
                            <small>{{lang 'common.required' }}</small>
                        </label>
                        <input type="password" class="form-input" name="password" id="password" autocomplete="off">
                    </div>
                    <div class="form-el">
                        <label class="form-label" for="password_confirm">
                            {{lang 'forms.new_password.password2' }}
                            <small>{{lang 'common.required' }}</small>
                        </label>
                        <input type="password" class="form-input" name="password_confirm" id="password_confirm" autocomplete="off">
                    </div>
                    <div class="form-btns">
                        <button class="btn-primary"
                                type="submit">
                            {{lang 'forms.new_password.submit_value' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{/partial}}
{{> layout/base}}
