.nav-open {

    @media #{$mediaToggleHeader} {
        height: 100%;
        overflow: hidden;

        > header {
            .logo, .toggle-search, .toggle-cart {
                opacity: 0;
            }

            .user {
                transform: translate(0, 0);
            }
        }
    }
    // controls the filter switch for category pages which will lay on top of the main nav on mobile otherwise
    .mobile-filter .btn-secondary {
        display:none;
    }
    > header {
        .container {
            background: linear-gradient(0deg, #202020 0%, #272727 100%);
            > nav {
                background: linear-gradient(0deg, #000000 0%, #202020 100%);
                ul {
                    //background: linear-gradient(0deg, #000000 0%, #202020 100%);
                }
            }
        }
    }


}
