/*  --------------------------------------------------------------------------  *\

    FACTS - LARGE

\*  --------------------------------------------------------------------------  */
&.lg {
    @media #{$mediaLg} {
        padding: 0 ($gutterXl);
    }

    img {
        max-width: remCalc(175);
        width: 50%;
        margin: 0 auto remCalc(24);
    }
}
