/*  --------------------------------------------------------------------------  *\

    FORMS > LABEL INSIDE > VARIABLES

\*  --------------------------------------------------------------------------  */
$formLIGutter: remCalc(16);
$formLIBorder: border;
$formLIBorderStyle: 1px solid $accent-2;
$formLIBorderFocus: $primary;
