/*  --------------------------------------------------------------------------  *\

    CARD - LAYOUT - WITH IMAGE TOP

\*  --------------------------------------------------------------------------  */
& {
    
    > a {
        display: block;
        
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
