
<dt role="heading" 
    aria-level="2">
    <button id="facetToggle{{pascalcase facet }}" 
            aria-expanded="{{#if start_collapsed }}false{{else}}true{{/if}}" 
            aria-controls="facetPanel{{pascalcase facet }}" 
            type="button">
        {{ title }}
    </button>
</dt>
<dd id="facetPanel{{pascalcase facet }}"
    aria-controlledby="facetToggle{{pascalcase facet }}"
    {{#if start_collapsed }}hidden{{/if}}>
    <form id="facet-range-form" class="form" method="get" data-faceted-search-range novalidate>
        {{#each current_selected_items}}
            <input type="hidden" name="{{ param_name }}[]" value="{{ param_value }}"/>
        {{/each}}
            <input type="hidden" name="search_query" value="{{search_query}}">
        {{#if this.sort}}
            <input type="hidden" name="sort" value={{this.sort}}>
        {{/if}}
        <div class="form-el">
            <label for="min_price" class="sr-only">Minimum Price</label>
            <span class="price-input-dollarSign">$
            <input
                id="min_price"
                name="min_price"
                placeholder="{{lang 'search.faceted.range.min-placeholder'}}" 
                min="0.00"
                step="1.00"
                required
                type="number"
                value="{{ min_price }}"
            />
            </span>
        </div>
        <div class="form-el">
            <label for="max_price" class="sr-only">Maximum Price</label>
            <span class="price-input-dollarSign" >$
            <input
                id="max_price"
                name="max_price"
                placeholder="{{lang 'search.faceted.range.max-placeholder'}}"
                min="0"
                required
                type="number"
                value="{{ max_price }}"
            />
            </span>
        </div>
        <div class="form-btn">
            <button class="btn-primary btn-sm" type="submit">
                {{lang 'search.faceted.range.update'}}
            </button>
        </div>
        <div class="form-inlineMessage"></div>
    </form>
</dd>
