{{#if items}}
<dt role="heading" 
    aria-level="2">
    <button id="facetToggle{{pascalcase facet }}" 
            aria-expanded="{{#if ../start_collapsed }}false{{else}}true{{/if}}" 
            aria-controls="facetPanel{{pascalcase facet }}" 
            type="button">
        {{ title }}
    </button>
</dt>
<dd id="facetPanel{{pascalcase facet }}"
    aria-controlledby="facetToggle{{pascalcase facet }}"
    {{#if ../start_collapsed }}hidden{{/if}}>
    <ul class="navList">
        {{#each items}}
            <li class="navList-item">
                <a href="{{ url }}"
                    class="navList-action {{#if selected }} is-selected {{/if}}"
                    rel="nofollow"
                    data-faceted-search-facet>
                    <span class="rating--small">
                        {{> components/products/ratings rating=title}}
                    </span>
                    {{lang 'search.faceted.rating.and-up'}}
                    {{#if ../show_product_counts}}
                        <span>({{ count }})</span>
                    {{/if}}
                </a>
            </li>
        {{/each}}
    </ul>
</dd>
{{/if}}
