.hs-form {
    .hs-title {
        text-transform: uppercase;
        letter-spacing: .08em;
        font-weight: 700;
        margin: 0 0 remCalc(5);
    }

    label {
        @include srOnly();
    }

    .hbspt-form {
        margin: 0 0 remCalc(32);

        form {
            @include flex(space-between, stretch, stretch, row nowrap);
        }
    }

    .hs-form-field {
        width: 100%;
        @include flexItem(1, 1, auto);
        @include position(relative);
        height: 100%;

        input {
            width: 100%;
            background: rgba($white, 0.25);
            color: $white;
            padding:remCalc(15) remCalc(8);
            border: none;

            &::placeholder {
                color: $white;
            }
        }
    }

    .hs-submit {
        input {
            @include buttonBase();
            background: $secondary;
            border-color: $secondary;
            color: $white;
            cursor: pointer;

            @include hover {
                background:#C95C57;
                border-color:#C95C57;
                color:$white;
            }
        }
    }
}
