{{#gt product.reviews.total 0}}
    <section class="bg-white" id="productReviews" data-product-reviews>
        <div class="container">
            <h2 class="ta-center">
                {{ product.title }} {{lang 'products.reviews.header'}}
            </h2>
            <div class="reviews-wrap">
                <p class="rating rating-lg">
                    {{> components/products/details/common/ratings rating=product.rating}}
                    <span class="review-link">
                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                    </span>
                </p>
                <dl class="tabs">
                    <dt class="sr-only">
                        <button id="viewPreviewReviewsToggle" 
                            aria-expanded="{{#gt product.reviews.total 0}}true{{ else }}false{{/gt}}" 
                            aria-controls="viewPreviewReviewsPanel" 
                            type="button" 
                            aria-disabled="{{#gt product.reviews.total 0}}true{{ else }}false{{/gt}}">
                            Sample Reviews
                        </button>
                    </dt>
                    <dd id="viewPreviewReviewsPanel" 
                        aria-labelledby="viewPreviewReviewsToggle" 
                        {{#if product.reviews.total '===' 0}}hidden{{/if}}>
                        {{> components/products/reviews/preview-list reviews=product.reviews }}
                    </dd>
                    {{#and (if customer.customer_group_id "!==" 1) (if customer.customer_group_id "!==" 41)}}
                        <dt>
                            <button id="writeAReviewToggle" 
                                aria-expanded="{{#if product.reviews.total '===' 0}}true{{ else }}false{{/if}}" 
                                aria-controls="writeAReviewPanel" 
                                type="button" 
                                aria-disabled="{{#if product.reviews.total '===' 0}}true{{ else }}false{{/if}}">
                                Write a Review
                            </button>
                        </dt>
                        <dd id="writeAReviewPanel" 
                            aria-labelledby="writeAReviewToggle" 
                            {{#unless product.reviews.total '===' 0}}hidden{{/unless}}>
                            {{> components/products/reviews/form }}
                        </dd>
                        <dt>
                            <button id="viewReviewsToggle" 
                                aria-expanded="false" 
                                aria-controls="viewReviewsPanel" 
                                type="button" 
                                aria-disabled="false">
                                View All Reviews
                            </button>
                        </dt>
                        <dd id="viewReviewsPanel" 
                            aria-labelledby="viewReviewsToggle" 
                            hidden>
                            {{> components/products/reviews/list reviews=product.reviews }}
                        </dd>
                    {{/and}}
                </dl>
            </div>
        </div>
    </section>
{{else}}
    {{#and (if customer.customer_group_id "!==" 1) (if customer.customer_group_id "!==" 41)}}
        <section class="bg-white" id="productReviews" data-product-reviews>
            <div class="container">
                <h2 class="ta-center">
                    {{ product.title }} {{lang 'products.reviews.header'}}
                </h2>
                <div class="reviews-wrap">
                    <h2 class="ta-center">
                        {{lang 'products.reviews.new'}} {{ product.title }} 
                    </h2>
                    <div class="reviews-wrap">
                        {{> components/products/reviews/form }}
                    </div>
                </div>
            </div>
        </section>
    {{/and}}
{{/gt}}
